In [2]:
import pandas as pd
import numpy as np
import os

In [3]:

#reading file
print ("Updated directory:" , os.getcwd())
excel_file= pd.ExcelFile("./CRA_2016.xlsx")
sheet_names=excel_file.sheet_names
print(sheet_names)

Updated directory: E:\UWE\Master_Project\2017
['A.1', 'A.2', 'A.3', 'A.4', 'A.5', 'A.5a', 'A.5b', 'A.5c', 'A.6', 'A.7', 'A.8', 'A.8a', 'A.8b', 'A.8c', 'A.8d', 'A.8e', 'A.9', 'A.10', 'A.11', 'A.12', 'A.13', 'A.14', 'A.15', 'A.16', 'A.17', 'A.18', 'A.19', 'A.20', 'A.21', '2.5']

In [4]:
Table=pd.read_excel(excel_file,sheet_name=sheet_names)

#Table.head()

In [11]:
offset=0

Original_years = Table['A.1'].iloc[offset+2].dropna().unique().tolist()
print(Original_years)
#years=[]


#for year in Original_years:
#    years.append(year[0:4])
#print(years)

['2011-12\noutturn', '2012-13\noutturn', '2013-14\noutturn', '2014-15\noutturn', '2015-16\noutturn']

In [5]:
List_Features =   [ 
    ["Region", "Year", "Table A.1a  Total identifiable expenditure on services"],
    ["Region", "Year", "Table A.1b  Total UK identifiable expenditure on services, per head "],
    ["Region", "Year", "Table A.2a  Real terms (1): Total identifiable expenditure on services"],
    ["Region", "Year", "Table A.2b  Real terms (1): Total UK identifiable expenditure on services per head (2)"],
    ["Region", "Year", "Table A.3a  Total current and capital identifiable expenditure"],
    ["Region", "Year", "Table A.3b  Total current and capital UK identifiable expenditure, per head"],
    ["Region", "Year", "Table A.4a  Real terms (1): Total current and capital identifiable expenditure"],
    ["Region", "Year", "Table A.4b  Real terms (1): Total current and capital UK identifiable expenditure, per head (2)"],
    ["Region", "Year", "Table A.5  Identifiable expenditure on general public services"],
    ["Region", "Year", "Table A.5a  Identifiable expenditure on general public services (of which: public and common services)"],
    ["Region", "Year", "Table A.5b  Identifiable expenditure on general public services (of which: international services)"],
    ["Region", "Year", "Table A.5c  Identifiable expenditure on general public services (of which: public sector debt interest)"],
    ["Region", "Year", "Table A.6  Identifiable expenditure on defence"],
    ["Region", "Year", "Table A.7  Identifiable expenditure on public order and safety"],
    ["Region", "Year", "Table A.8  Identifiable expenditure on economic affairs"],
    ["Region", "Year", "Table A.8a  Identifiable expenditure on economic affairs (of which: enterprise and economic development)"],
    ["Region", "Year", "Table A.8b  Identifiable expenditure on economic affairs (of which: science and technology)"],
    ["Region", "Year", "Table A.8c  Identifiable expenditure on economic affairs (of which: employment policies)"],
    ["Region", "Year", "Table A.8d  Identifiable expenditure on economic affairs (of which: agriculture, fisheries and forestry)"],
    ["Region", "Year", "Table A.8e  Identifiable expenditure on economic affairs (of which: transport (1,2))"],
    ["Region", "Year", "Table A.9  Identifiable expenditure on environment protection"],
    ["Region", "Year", "Table A.10  Identifiable expenditure on housing and community amenities"],
    ["Region", "Year", "Table A.11  Identifiable expenditure on health"],
    ["Region", "Year", "Table A.12  Identifiable expenditure on recreation, culture and religion"],
    ["Region", "Year", "Table A.13  Identifiable expenditure on education"],
    ["Region", "Year", "Table A.14  Identifiable expenditure on social protection"],
    ["Region", "Year", "Table A.15  UK identifiable expenditure on services by function per head (1)"],
    ["Region", "Year", "Table A.16  UK identifiable expenditure on services by function, per head indexed"],
    ["Region", "Year", "Table A.17  Total local government identifiable expenditure on services"],
    ["Region", "Year", "Table A.18  Total local government identifiable expenditure on services, per head (1)"],
    ["Region", "Year", "Table A.19  Total identifiable expenditure on services excluding local government (1)"],
    ["Region", "Year", "Table A.20  UK identifiable expenditure excluding local government (1) per head (2)"],
    ["Region", "Year", "Table A.21  Identifiable expenditure on services for Scotland, Wales and Northern Ireland in 2022-23"]
]

In [6]:

def New_table (sheet_name,Features,file_name):
    Tabl=pd.read_excel(excel_file,sheet_name=sheet_name)
    empty_df = pd.DataFrame(columns=Features)
    #print(Features)


    # find the first row
    row_offset= 0
    while (pd.isna(Tabl.iloc[row_offset,0])):
        row_offset= row_offset +1  
    #print('row', row_offset, Tabl.iloc[row_offset,0])
    #print('row', row_offset, Tabl.iloc[row_offset,1])
    #print('row', row_offset, Tabl.iloc[row_offset-1,0])
    #print('row', row_offset, Tabl.iloc[row_offset-1,1])
    for j in range(row_offset,len(Tabl),1):
            if (pd.isna(Tabl.iloc[j,0])): continue;
            i = 0
            for year in Original_years:
                #print(year)
                col_offset = 0
                while ((Tabl.iloc[row_offset-1,col_offset] != year) and (col_offset<= 5)):
                    col_offset= col_offset +1         
                if (col_offset > 5): year = '0000'
                #print('col',row_offset-1,col_offset,Tabl.iloc[row_offset-1,col_offset])    
                #print(offset)
                new_row = {Features[0]: Tabl.iloc[j,0], 
                           Features[1] : year[:4],
                           Features[2] : Tabl.iloc[j,col_offset]} 
                #print(j,col_offset, Table_1.iloc[j,col_offset])
                i=i+1          
                empty_df =pd.concat([empty_df, pd.DataFrame([new_row])], ignore_index=True)
    empty_df.to_csv (file_name)

#sheetname = sheet_names[2]
#list_feature = List_Features[1] 
#print(sheetname)

#New_table(sheetname,list_feature,'____'+list_feature[2][:11]+'.csv')

In [7]:
for sheetname, list_feature in zip(sheet_names[1:], List_Features):
    
    New_table(sheetname,list_feature,list_feature[2][:11]+'.csv')

NameError: name 'Original_years' is not defined

In [65]:
#Original_years = Table.iloc[2].dropna().unique().tolist()
#print(Original_years) 

#years = [2018,2019,2020,2021,2022]

#Table = Table.fillna(-).astype(int)
#mapping_dic = dict(zip(Original_years, years))
#NewTable= Table.replace(mapping_dic)

#NewTable

In [123]:
#saving
list_feature[2][:11]+'.csv'
dataframes = []

for list_feature in List_Features:
     file  = list_feature[2][:11]+'.csv'
     #print(file,list_feature[2])
     df=pd.read_csv(file, index_col=0) 
     #df=pd.read_csv(file) 
     dataframes.append(df) 
    
dataframes[2].head()

,Region,Year,Table A.2a Real terms (1): Total identifiable expenditure on services
0,North East,2017,28447.0
1,North East,2018,28863.0
2,North East,2019,29017.0
3,North East,2020,35386.0
4,North East,2021,31838.0

In [124]:
for i in range(1,len(dataframes),1):
   
    
    dataframes[0] = pd.merge(dataframes[0],dataframes[i], how = 'left', suffixes=('_x'+str(i), '_y'+str(i)), on=['Region','Year'])

In [131]:
 dataframes[0]
 dataframes[0].to_csv('Totalexpenditure2017.csv', index=True)

In [132]:
#just 2017


#reading file
print ("Updated directory:" , os.getcwd())
df2017= pd.read_csv("./Totalexpenditure2017.csv" ,  index_col=0)

df2017=pd.DataFrame(df2017)
df2017=df2017[df2017["Year"]== 2017]  
 
df2017.to_csv('Totalexpenditure2017.csv',index=True)

Updated directory: E:\UWE\Master_Project\2017

In [133]:
#saving
df1=pd.read_csv('Totalexpenditure.csv', index_col=0) 
dataframes1 = [df1,df2017]
    
print(dataframes1[0].shape)
print(dataframes1[1].shape)

(105, 35)
(21, 35)

In [134]:
#dataframes1[0] = pd.merge(dataframes[0],dataframes[1], how = 'left', suffixes=('_x'+str(i), '_y'+str(i)), on=['Region','Year'])


# Concatenate the DataFrames
combined_df = pd.concat([df1, df2017], ignore_index=True)

In [136]:
combined_df.to_csv('Totalexpenditurecombined.csv',index=True)