In [1]:
# import library
import warnings
import pandas as pd

warnings.filterwarnings("ignore", category=UserWarning, message="Conditional Formatting extension is not supported and will be removed")

import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
import math

In [2]:
#reading file
#excel_file= pd.ExcelFile("bpe_2023_detailed_tables.xlsx")
#sheet_names=excel_file.sheet_names
#print(sheet_names)

In [3]:
#search_text = "A Agriculture, Forestry and Fishing"

# Read the first sheet of excel
#Table_11=pd.read_excel(excel_file,sheet_name='Table 11')


# Find label of the first row where the value 'A Agriculture, Forestry and Fishing' is found (within column 0)
#row_label = (Table_11.iloc[:, 0] == 'A Agriculture, Forestry and Fishing').idxmax()

# Drop all rows above the row with 'Agriculture....'
#Table_11 = Table_11.loc[row_label:, :]

In [4]:
#Table_11.head(10)

In [2]:
#Creating Dataframe

regions = { "North East": 'Table 11',
    "North West": 'Table 12',
    "Yorkshire and the Humber": 'Table 13',
    "East Midlands": 'Table 14',
    "West Midlands": 'Table 15',
    "East of England": 'Table 16',
    "London": 'Table 17',
    "South East": 'Table 18',
    "South West": 'Table 19',
    "England": 'Table 20',
    "Wales": 'Table 21',
    "Scotland": 'Table 22',
    "Northern Ireland": 'Table 23'}

file_names = ['bpe_2015_detailed_tables.xlsx',
              'bpe_2016_detailed_tables.xlsx',
              'BPE_2017_detailed_tables.xlsx', 
              'OFFICIAL_SENSITIVE_-_BPE_2018_-_detailed_tables.xlsx',
              'BPE__2019_detailed_tables.xlsx', 
              'BPE__2020_detailed_tables.xlsx',
              'BPE__2021_detailed_tables.xlsx',
              '2022_BPE_detailed_tables.xlsx',
              'bpe_2023_detailed_tables.xlsx']
years = [2017,2018,2019,2020,2021,2022,2023]
              


Features = ["Year","Region","Industry","Employee _size","Employment_number","Business_number","Turnover"]

industries = [
"A Agriculture, Forestry and Fishing"
,"B, D and E Mining and Quarrying; Electricity, Gas, Steam and Air Conditioning Supply; Water Supply; Sewerage, Waste Management and Remediation Activities" 
,"C Manufacturing"
,"F Construction"
,"G Wholesale and Retail Trade; Repair of Motor Vehicles and Motorcycles"
,"H Transportation and Storage"
,"I Accommodation and Food Service Activities"
,"J Information and Communication,K: Financial and Insurance Activities"
,"K Financial and Insurance Activities"
,"L Real Estate Activities"
,"M Professional, Scientific and Technical Activities"
,"N Administrative and Support Service Activities"
,"P Education"
,"Q Human Health and Social Work Activities"
,"R Arts, Entertainment and Recreation"
,"S Other Service Activities"
 ]

# to save normalised data
empty_df = pd.DataFrame(columns=Features)

In [3]:
#convert string to int, 
# @s: the string that we want to cast
# @defult: if the string was not convertable, return this number

def safe_parse_int(s, default=0):
    try:
        return int(s)
    except ValueError:
        return default

In [4]:
# read an indusrty from a excel file for a give year and region

def read_industry(excel_file, industry,year,region,empty_df):

    table_name = regions[region]  
    # Read the first sheet of excel
    my_table =pd.read_excel(excel_file,sheet_name=table_name)
    row_label = (my_table.iloc[:, 0] == industry).idxmax()
    
    # Drop all rows above the row with 'Agriculture....'
    my_table = my_table.loc[row_label:, :]
    # find first row that contain information
    offset = 0;
    while ( safe_parse_int(my_table.iloc[offset,0]) != 1):
        offset = offset +1
        
    # read 10 records
    for i in range(10):
        new_row = {"Year" : year,"Region": region, "Industry" : industry[0],
                   "Employee _size":my_table.iloc[offset+i,0]
                   ,"Employment_number": my_table.iloc[offset+i,4],
                   "Business_number":my_table.iloc[offset+i,2],
                   "Turnover":my_table.iloc[offset+i,6]}
        empty_df =pd.concat([empty_df, pd.DataFrame([new_row])], ignore_index=True)
    
    return empty_df

In [5]:
# read all files 
empty_df = pd.DataFrame(columns=Features)
for file,year in zip(file_names, years):
    excel_file= pd.ExcelFile(file)
    for region in regions.keys():
        for industry in industries:
            empty_df=  read_industry(excel_file, industry,year,region,empty_df)

ValueError: Worksheet named 'Table 11' not found

In [ ]:
# save the out files
empty_df.to_csv('Turnover.csv')