In [1]:
import pandas as pd
import numpy as np

In [2]:
#reading file
excel_file= pd.ExcelFile("./row_GDPdata/gdps.xlsx")
sheet_names=excel_file.sheet_names
print(sheet_names)

['Information', 'Contents', 'Notes', 'Table 1', 'Table 2', 'Table 3', 'Table 4', 'Table 5', 'Table 6', 'Table 7', 'Table 8', 'Table 9', 'Table 10', 'Table 11', 'Table 12', 'Table 13']

In [3]:
def str_to_int(s, defult = 0):
    try:
        return int(s)
    except ValueError:
        return defult

In [53]:
years = [2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022]

In [54]:
List_sheet_name = ['Table 1', 'Table 2', 'Table 3', 'Table 4', 'Table 5', 'Table 6', 'Table 7', 'Table 8', 'Table 9', 'Table 10', 'Table 11', 'Table 12', 'Table 13']

#List_sheet_name = ['Table 13']



List_Features = [
    ["Region", "Year", "Gross value added (Balanced) at current basic prices"],
    ["Region", "Year", "Value Added Tax (VAT) on products"],
    ["Region", "Year", "Other taxes on products"],
    ["Region", "Year", "Subsidies on products"],
    ["Region", "Year", "Gross domestic product (GDP) at current market prices"],
    ["Region", "Year", "Total resident population numbers"],
    ["Region", "Year", "Gross domestic product (GDP) per head at current market prices"],
    ["Region", "Year", "Whole economy gross value added (GVA) implied deflators"],
    ["Region", "Year", "Gross domestic product (GDP) chained volume measures (CVM) index, 2019 equals 100"],
    ["Region", "Year", "Gross domestic product (GDP) chained volume measures (CVM) in 2019 money value"],
    ["Region", "Year", "Gross domestic product (GDP) chained volume measures (CVM) in 2019 money value, per head"],
    ["Region", "Year", "Gross domestic product (GDP) chained volume measures (CVM) annual growth rates, percentage"],
    ["Region", "Year", "Gross domestic product (GDP) chained volume measures (CVM) per head annual growth rates, percentage"]
]
'''
List_Features = [

    ["Region", "Year", "Gross domestic product (GDP) chained volume measures (CVM) per head annual growth rates, percentage"]
]

 
'''
list_file_name = [
    "Gross value added (Balanced) at current basic prices.csv",
    "Value Added Tax (VAT) on products.csv",
    "Other taxes on products.csv",
    "Subsidies on products.csv",
    "Gross domestic product (GDP) at current market prices.csv",
    "Total resident population numbers.csv",
    "Gross domestic product (GDP) per head at current market prices.csv",
    "Whole economy gross value added (GVA) implied deflators.csv",
    "Gross domestic product (GDP) chained volume measures (CVM) index, 2019 equals 100.csv",
    "Gross domestic product (GDP) chained volume measures (CVM) in 2019 money value.csv",
    "Gross domestic product (GDP) chained volume measures (CVM) in 2019 money value, per head.csv",
    "Gross domestic product (GDP) chained volume measures (CVM) annual growth rates, percentage.csv",
    "Gross domestic product (GDP) chained volume measures (CVM) per head annual growth rates, percentage.csv"
]
'''
list_file_name = [

    "GDP_CVM_annual_growth_rates_.csv"
]
'''
Region_list= [
    "East Midlands",
    "East of England",
    "London",
    "North East",
    "North West",
    "Northern Ireland",
    "Scotland",
    "South East",
    "South West",
    "Wales",
    "West Midlands",
    "Yorkshire and the Humber"
]

In [55]:
def New_table (sheet_name, Features ,file_name):
    Table_1=pd.read_excel(excel_file,sheet_name=sheet_name)
    #print(Table_1.columns)
    table_copy = Table_1.copy(deep=True)
    Table_1.columns = np.arange(len(Table_1.columns)).astype(str)
    Table_1 = Table_1[Table_1['0'] == 'ITL1']

    #print('row ', len(Table_1),'col ',len(Table_1.columns))
    
    # to save normalised data
    empty_df = pd.DataFrame(columns=Features)
    #year_columns = [col for col in Table_1.columns[3:] if col.isdigit()] 
    
     
        
    for j in range(0,len(Table_1),1):
        i = 0
        for year in years:
            offset = 0
            while ((offset < len(table_copy.columns)) and (str_to_int(table_copy.iloc[0,offset]) != year)):
                #print('offset', offset,'value', (table_copy.iloc[0,offset]))
                offset= offset +1
                
 
     
            #print(offset, ,Table_1.iloc[j,2], Table_1.iloc[j,offset], str_to_int(Table_1.iloc[0,offset]))
            if  offset == len(Table_1.columns) :
                year = 0  
            #print(offset)
            new_row = {Features[0]: Table_1.iloc[j,2], 
                       Features[1] : int(year),
                       Features[2] : Table_1.iloc[j,offset]} 
            i=i+1          
            empty_df =pd.concat([empty_df, pd.DataFrame([new_row])], ignore_index=True)
    #empty_df = empty_df[empty_df["Region"].isin(Region_list)]
    empty_df.to_csv (file_name)

In [56]:
for sheet_name, features, file_name in zip(List_sheet_name, List_Features, list_file_name):
    print(sheet_name, features, file_name)
    #New_table(sheet_name, features, file_name)
    New_table(sheet_name, features, file_name)

Table 1 ['Region', 'Year', 'Gross value added (Balanced) at current basic prices'] Gross value added (Balanced) at current basic prices.csv
Table 2 ['Region', 'Year', 'Value Added Tax (VAT) on products'] Value Added Tax (VAT) on products.csv
Table 3 ['Region', 'Year', 'Other taxes on products'] Other taxes on products.csv
Table 4 ['Region', 'Year', 'Subsidies on products'] Subsidies on products.csv
Table 5 ['Region', 'Year', 'Gross domestic product (GDP) at current market prices'] Gross domestic product (GDP) at current market prices.csv
Table 6 ['Region', 'Year', 'Total resident population numbers'] Total resident population numbers.csv
Table 7 ['Region', 'Year', 'Gross domestic product (GDP) per head at current market prices'] Gross domestic product (GDP) per head at current market prices.csv
Table 8 ['Region', 'Year', 'Whole economy gross value added (GVA) implied deflators'] Whole economy gross value added (GVA) implied deflators.csv

C:\Users\NovinRayan\AppData\Local\Temp\ipykernel_13444\1062433235.py:34: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  empty_df =pd.concat([empty_df, pd.DataFrame([new_row])], ignore_index=True)

Table 9 ['Region', 'Year', 'Gross domestic product (GDP) chained volume measures (CVM) index, 2019 equals 100'] Gross domestic product (GDP) chained volume measures (CVM) index, 2019 equals 100.csv

C:\Users\NovinRayan\AppData\Local\Temp\ipykernel_13444\1062433235.py:34: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  empty_df =pd.concat([empty_df, pd.DataFrame([new_row])], ignore_index=True)

Table 10 ['Region', 'Year', 'Gross domestic product (GDP) chained volume measures (CVM) in 2019 money value'] Gross domestic product (GDP) chained volume measures (CVM) in 2019 money value.csv
Table 11 ['Region', 'Year', 'Gross domestic product (GDP) chained volume measures (CVM) in 2019 money value, per head'] Gross domestic product (GDP) chained volume measures (CVM) in 2019 money value, per head.csv
Table 12 ['Region', 'Year', 'Gross domestic product (GDP) chained volume measures (CVM) annual growth rates, percentage'] Gross domestic product (GDP) chained volume measures (CVM) annual growth rates, percentage.csv

C:\Users\NovinRayan\AppData\Local\Temp\ipykernel_13444\1062433235.py:34: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  empty_df =pd.concat([empty_df, pd.DataFrame([new_row])], ignore_index=True)

Table 13 ['Region', 'Year', 'Gross domestic product (GDP) chained volume measures (CVM) per head annual growth rates, percentage'] Gross domestic product (GDP) chained volume measures (CVM) per head annual growth rates, percentage.csv

In [58]:
dataframes = []

for file in list_file_name:
     df=pd.read_csv(file, index_col=0) 
    
     #df=pd.read_csv(file) 
     dataframes.append(df) 
    
dataframes[2].head()

       Region  Year  Other taxes on products
0  North East  2000                     1972
1  North East  2001                     1938
2  North East  2002                     2007
3  North East  2003                     2043
4  North East  2004                     2137

In [59]:
dataframes[0]['Year'] = dataframes[0]['Year'].astype(int)
dataframes[0]['Region'] = dataframes[0]['Region'].astype('category')
a = dataframes[0]
for i in range(1,len(dataframes),1):
    dataframes[i]['Year'] = dataframes[i]['Year'].astype(int)
    dataframes[i]['Region'] = dataframes[i]['Region'].astype('category')
    a = pd.merge(a,dataframes[i], how = 'left', on=['Region','Year'])

In [60]:
len(a)
a.to_csv('Totalgdp.csv')