In [1]:
import pandas as pd
import numpy as np

In [2]:
#reading file
excel_file= pd.ExcelFile("./row_GDPdata/gdps.xlsx")
sheet_names=excel_file.sheet_names
print(sheet_names)

['Information', 'Contents', 'Notes', 'Table 1', 'Table 2', 'Table 3', 'Table 4', 'Table 5', 'Table 6', 'Table 7', 'Table 8', 'Table 9', 'Table 10', 'Table 11', 'Table 12', 'Table 13']

In [3]:
def str_to_int(s, defult = 0):
    try:
        return int(s)
    except ValueError:
        return defult

In [4]:
years = [2017,2018,2019,2020,2021,2022]

array(['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23',
       '24', '25', '26', '27'], dtype='<U11')

In [117]:
def New_table (sheet_name, Features ,file_name):
    Table_1=pd.read_excel(excel_file,sheet_name=sheet_name)
    print(Table_1.columns)
    clm = Table_1.columns
    Table_1.columns = np.arange(len(Table_1.columns)).astype(str)
    Table_1 = Table_1[Table_1['0'] == 'ITL1']
    
    print(len(Table_1),len(Table_1.columns))
    
    # to save normalised data
    empty_df = pd.DataFrame(columns=Features)
    #year_columns = [col for col in Table_1.columns[3:] if col.isdigit()] 

     
        
    for j in range(1,len(Table_1),1):
        i = 0
        for year in years:
            offset = 0
            #while ((offset < len(Table_1.columns)) and (str_to_int(Table_1.iloc[0,offset]) != year)):
            #    offset= offset +1
            #    print(offset, str_to_int(Table_1.iloc[0,offset]))
            while ((offset < len(Table_1.columns)) and (str_to_int(clm[offset]) != year)):
                offset= offset +1
                print(clm[offset])
            #print(offset, ,Table_1.iloc[j,2], Table_1.iloc[j,offset], str_to_int(Table_1.iloc[0,offset]))
            if  offset == len(Table_1.columns) :
                year = 0  
            #print(offset)
            new_row = {Features[0]: Table_1.iloc[j,2], 
                       Features[1] : int(year),
                       Features[2] : Table_1.iloc[j,offset]} 
            i=i+1          
            empty_df =pd.concat([empty_df, pd.DataFrame([new_row])], ignore_index=True)
    #empty_df = empty_df[empty_df["Region"].isin(Region_list)]
    empty_df.to_csv (file_name)

In [118]:
List_sheet_name = ['Table 1', 'Table 2', 'Table 3', 'Table 4', 'Table 5', 'Table 6', 'Table 7', 'Table 8', 'Table 9', 'Table 10', 'Table 11', 'Table 12', 'Table 13']

'''
List_Features = [
    ["Region", "Year", "Gross value added (Balanced) at current basic prices"],
    ["Region", "Year", "Value Added Tax (VAT) on products"],
    ["Region", "Year", "Other taxes on products"],
    ["Region", "Year", "Subsidies on products"],
    ["Region", "Year", "Gross domestic product (GDP) at current market prices"],
    ["Region", "Year", "Total resident population numbers"],
    ["Region", "Year", "Gross domestic product (GDP) per head at current market prices"],
    ["Region", "Year", "Whole economy gross value added (GVA) implied deflators"],
    ["Region", "Year", "Gross domestic product (GDP) chained volume measures (CVM) index, 2019 equals 100"],
    ["Region", "Year", "Gross domestic product (GDP) chained volume measures (CVM) in 2019 money value"],
    ["Region", "Year", "Gross domestic product (GDP) chained volume measures (CVM) in 2019 money value, per head"],
    ["Region", "Year", "Gross domestic product (GDP) chained volume measures (CVM) annual growth rates, percentage"],
    ["Region", "Year", "Gross domestic product (GDP) chained volume measures (CVM) per head annual growth rates, percentage"]
]
'''
List_Features = [

    ["Region", "Year", "Gross domestic product (GDP) chained volume measures (CVM) per head annual growth rates, percentage"]
]

 
'''
list_file_name = [
    "Gross value added (Balanced) at current basic prices.csv",
    "Value Added Tax (VAT) on products.csv",
    "Other taxes on products.csv",
    "Subsidies on products.csv",
    "Gross domestic product (GDP) at current market prices.csv",
    "Total resident population numbers.csv",
    "Gross domestic product (GDP) per head at current market prices.csv",
    "Whole economy gross value added (GVA) implied deflators.csv",
    "Gross domestic product (GDP) chained volume measures (CVM) index, 2019 equals 100.csv",
    "Gross domestic product (GDP) chained volume measures (CVM) in 2019 money value.csv",
    "Gross domestic product (GDP) chained volume measures (CVM) in 2019 money value, per head.csv",
    "Gross domestic product (GDP) chained volume measures (CVM) annual growth rates, percentage.csv",
    "Gross domestic product (GDP) chained volume measures (CVM) per head annual growth rates, percentage.csv"
]
'''
list_file_name = [

    "GDP_CVM_annual_growth_rates_.csv"
]

Region_list= [
    "East Midlands",
    "East of England",
    "London",
    "North East",
    "North West",
    "Northern Ireland",
    "Scotland",
    "South East",
    "South West",
    "Wales",
    "West Midlands",
    "Yorkshire and the Humber"
]

In [119]:
for sheet_name, features, file_name in zip(List_sheet_name, List_Features, list_file_name):
    print(sheet_name, features, file_name)
    #New_table(sheet_name, features, file_name)
    New_table('Table 13', features, file_name)

Table 1 ['Region', 'Year', 'Gross domestic product (GDP) chained volume measures (CVM) per head annual growth rates, percentage'] GDP_CVM_annual_growth_rates_.csv
Index(['Table 13: Gross domestic product (GDP) chained volume measures (CVM) per head annual growth rates, percentage [notes 1, 5, 6]',
       'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5',
       'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10',
       'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14',
       'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18',
       'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22',
       'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26'],
      dtype='object')
12 27
Unnamed: 1
Unnamed: 2
Unnamed: 3
Unnamed: 4
Unnamed: 5
Unnamed: 6
Unnamed: 7
Unnamed: 8
Unnamed: 9
Unnamed: 10
Unnamed: 11
Unnamed: 12
Unnamed: 13
Unnamed: 14
Unnamed: 15
Unnamed: 16
Unnamed: 17
Unnamed: 18
Unnamed: 19
Unnamed: 20
Unnamed: 21
Unnamed: 22
Unnamed: 23
Unnamed: 24
Unnamed: 25
Unnamed: 26

IndexError: index 27 is out of bounds for axis 0 with size 27

In [ ]:
offset,Table_1.iloc[j,2], Table_1.iloc[j,offset], str_to_int(Table_1.iloc[0,offset]))

In [7]:
dataframes = []

for file in list_file_name:
     df=pd.read_csv(file, index_col=0) 
    
     #df=pd.read_csv(file) 
     dataframes.append(df) 
    
dataframes[2].head()

        Region  Year  Other taxes on products
12  North East  2017                     3208
13  North East  2018                     3321
14  North East  2019                     3395
15  North East  2020                     2920
16  North East  2021                     3009

In [8]:
dataframes[0]['Year'] = dataframes[0]['Year'].astype(int)
dataframes[0]['Region'] = dataframes[0]['Region'].astype('category')
a = dataframes[0]
for i in range(1,len(dataframes),1):
    dataframes[i]['Year'] = dataframes[i]['Year'].astype(int)
    dataframes[i]['Region'] = dataframes[i]['Region'].astype('category')
    a = pd.merge(a,dataframes[i], how = 'left', on=['Region','Year'])

In [9]:
a
a.to_csv('Totalgdp.csv')

In [10]:
, suffixes=('_x'+str(i), '_y'+str(i))

("suffixes=('_x'+str(i),", "'_y'+str(i))")